@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  margin: 0;
  font-size: 1.1rem;
  font-family: "Montserrat", sans-serif;
  background: rgb(219, 219, 219);
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 50em;
  align-items: center;
}

.sign-in-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 40em;
  background: transparent;
}

.sign-in-form {
  display: flex;
  flex-direction: column;
  background: rgb(255, 255, 255);
  width: 23em;
  height: 28em;
  text-align: center;
  border-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  justify-content: center;
  box-shadow: -4px 7px 7px #adadad;
}

form {
  display: flex;
  flex-direction: column;
  margin-top: -3em;
  align-items: center;
}

.sign-up-form {
  display: flex;
  flex-direction: column;
  background: linear-gradient(to right, #ff4b2b, #ff416c);
  width: 23em;
  height: 28em;
  text-align: center;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  align-items: center;
  justify-content: center;
  color: white;
}

input {
  display: flex;
  justify-content: center;
  width: 60%;
  height: 2.3em;
  border-radius: 2px;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom-color: #ff4b2b;
  background: #eeeeee;
  font-family: "Inter";
  font-weight: bold;
  letter-spacing: 2px;
  transition: 1s;
  color: rgb(247, 0, 255);
  outline: none;
}

input:hover,
input:focus {
  width: 67%;
  border-radius: 4px;
  border-color: #ff416c;
}

button {
  border-radius: 20px;
  border: 1px solid #ff4b2b;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 40%;
  margin-top: 1.2em;
  transition: 0.5s;
}

.description {
  width: 15em;
}

.sign-up {
  background: transparent;
  border-color: white;
}

a {
  text-decoration: none;
  color: white;
}

.sign-up:hover,
.sign-up:focus {
  width: 43%;
  background-color: #ff4b2b;
  border-color: #ff4b2b;
}

.sign-in {
  border-radius: 20px;
  border: none;
  background-color: #ff4b2b;
  color: #ffffff;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  width: 8em;
  margin-top: 1.2em;
  transition: 0.5s;
}

.sign-in:hover,
.sign-in:focus {
  width: 11 em;
  background: rgb(255, 183, 195);
  color: white;
}

@media (max-width: 1000px) {
  .description {
    width: 13em;
  }
}

@media (max-width: 876px) {
  .sign-up {
    width: 12em;
  }

  .sign-in {
    width: 10em;
  }

  .sign-in-container {
    display: flex;
    flex-direction: column;
  }

  .sign-in-form {
    border-radius: 10px;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
  }

  .sign-up-form {
    border-radius: 10px;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    box-shadow: 5px 7px 7px #adadad;
  }
}
